@import './Materialize/materialize.scss';
@import "mixins.scss";

.form {
    color: $primary-color;
    font-size: 1.4rem;

    .title{
        font-size: 3rem;
        font-weight: 400;
    }
    .input-field {
        margin: 0;
        input{
            @include font-Mulish;
            color: #000;
            font-size: 1.6rem;
            padding-left: 15px;
        }
        label{
            font-weight: 400;
        }
    }

    .forgot {
        font-size: 14px;
        color: $primary-color;
        cursor: pointer;
    }

    .btn-flat {
        font-size: 1.6rem;
        padding: 0px 50px;
        text-transform: unset;
        font-weight: bold;
    }

    .bar {
        font-size: 1.4rem;
        color: $primary-color;
    }

    .sign {
        @include font-Mulish;
        width: 265px;
        background-color: #fff;
        padding: 3px 30px;
        color: #000;
        font-size: 1.8rem;
        font-weight: 500;
        text-transform: none;
    }

    .link {
        color: #A9C5BA;
        text-decoration: underline;
        cursor: pointer;
    }
}
