@import "~bootstrap/scss/bootstrap";
@import "mixins.scss";

$background-color: white;


.login-container {
  @include font-Mulish;

  @media screen and (max-width: 767px) {
    padding: 2.5rem 5.0rem 0px;
  }

  @media screen and (min-width: 1367px) {
    padding: 9.5rem 12.4rem 0px;
  }

  & > .title {
    font-size: 3.5rem;
  }
}
